html {
  font-family: 'Roboto Condensed', sans-serif !important;
}

h1 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  font-size: 1.25rem;
}

body {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  background-color: #E3E8EE;
}

#nav {
  position: fixed;
  bottom: 0;
  color: white;
  font-size: 0.9rem;
  -webkit-box-shadow: 0px 0px 5px 0px #000000ad;
          box-shadow: 0px 0px 5px 0px #000000ad;
  font-weight: bold;
  width: 100%;
  z-index: 999;
}

a {
  border-radius: 0 !important;
  white-space: nowrap !important;
}

a:hover {
  text-decoration: none;
}

.bg-menu {
  display: none;
}

.sm-menu {
  text-align: center;
  background-color: #013974;
}

.sm-menu .main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.sm-menu .main-list h3 {
  margin-left: .75rem;
}

.sm-menu .main-list ul {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5rem;
}

.sm-menu .main-list a {
  display: -ms-grid;
  display: grid;
  padding: .75rem;
}

.sm-menu .main-list .svg-icon {
  height: 15px;
  margin: 0 auto .25rem;
  fill: white;
}

.pointer {
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

hr {
  margin: 0;
  height: 8px;
  border: none;
  background-color: #013974;
}

button {
  border-radius: 0 !important;
}

.btn-lg {
  background-color: #F2362F;
  padding: 16px 20px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif !important;
  border: none;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 30px auto;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem !important;
}

.btn-lg:hover {
  background-color: white;
  color: red;
}

.btn-edit {
  background-color: #01397494 !important;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.btn-edit:hover {
  color: white !important;
  background-color: #013974 !important;
}

.btn-delete {
  background-color: #f2362fa8 !important;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.btn-delete:hover {
  background-color: #F2362F !important;
  color: white !important;
}

a.btn-lg {
  font-size: 0.9rem;
  text-align: center;
}

.underline {
  text-decoration: underline;
  font-weight: 600 !important;
}

.team-wrapper {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  margin-bottom: 50px;
}

.team-wrapper .team-grid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-content: center;
}

.team-wrapper .team-card {
  min-width: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(3px) opacity(70%) brightness(250%);
          backdrop-filter: blur(3px) opacity(70%) brightness(250%);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.32);
  background-color: #ffffff91;
  margin: 1rem;
}

.team-wrapper .team-card .team-cat {
  font-size: calc(1.25rem + 0.5vw);
  text-align: center;
  margin: .5rem auto;
  font-weight: bold;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.team-wrapper .team-card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
}

.team-wrapper .team-card .card-body img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.team-wrapper .team-card .card-body img:nth-child(2) {
  -webkit-transform: scale(2);
          transform: scale(2);
  position: relative;
  z-index: 99;
  margin: 0 .5rem;
}

.team-wrapper .team-card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.team-wrapper .team-card .card-footer button {
  font-size: 1rem !important;
  margin: 0;
  -webkit-box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.body-wrapper {
  background-color: #E3E8EE;
}

.add-team-btn {
  font-family: sans-serif !important;
  display: block;
  width: 70px;
  height: 70px;
  background: #F2362FA8;
  border-radius: 50% !important;
  display: -ms-grid;
  display: grid;
  place-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #E3E8EE !important;
  margin: 1rem auto;
  left: calc(20px + .5vw);
  font-family: 'roboto', sans-serif;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.34);
          box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.34);
  -webkit-transition: .3s;
  transition: .3s;
}

.add-team-btn:hover {
  background-color: #F2362F;
}

.dashboard {
  display: -ms-grid;
  display: grid;
}

.dash-card {
  background-color: white;
  -webkit-box-shadow: 0 0 4px #0000001f;
          box-shadow: 0 0 4px #0000001f;
  padding: 1rem;
  margin: 1rem 0;
}

.dash-card .card-header {
  padding-top: 0 !important;
  font-weight: bold;
}

.dash-card .card-footer {
  padding-bottom: 0 !important;
}

.dash-card .card-header,
.dash-card .card-footer {
  background-color: transparent !important;
}

.result {
  font-size: 1.25rem !important;
}

.winner p {
  color: #013974 !important;
}

.loser p {
  color: #F2362F !important;
}

.draw p {
  color: rgba(0, 0, 0, 0.32) !important;
}

#best-scorers tr td:first-of-type {
  padding: .2rem;
  text-align: right;
}

#best-scorers tr td:last-of-type {
  text-transform: uppercase;
  padding: .2rem;
}

#best-scorers td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#best-scorers td.body {
  border-bottom: 1px solid #0000001f;
  background-color: #E3E8EE;
}

.dataTables_wrapper {
  font-size: small;
  outline: none;
}

.dataTables_wrapper label {
  font-size: 1rem;
}

@media screen and (min-width: 760px) {
  body {
    background-color: #013974;
    background-image: url(../img/background.png);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
  }
  #nav {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    position: initial;
  }
  #nav .sm-menu {
    display: none;
  }
  #nav .bg-menu {
    background-color: #F2362F;
    display: -ms-grid;
    display: grid;
    border-bottom: 8px solid #013974;
  }
  #nav .bg-menu h3 {
    -ms-grid-column: 2;
    grid-column: 2;
    text-align: right;
    font-size: 2.25rem;
    white-space: nowrap;
  }
  #nav .bg-menu .sub-menu {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: end;
    text-transform: uppercase;
    white-space: nowrap;
  }
  #nav .bg-menu .sub-menu svg {
    fill: #F2362F;
    margin-right: 1vw;
    height: calc(0.3rem + 1vw);
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  #nav .bg-menu .sub-menu li {
    -webkit-filter: drop-shadow(13px 0px 5px #44444426) drop-shadow(-14px 0px 5px #44444426);
            filter: drop-shadow(13px 0px 5px #44444426) drop-shadow(-14px 0px 5px #44444426);
  }
  #nav .bg-menu .sub-menu .li-wrapper {
    background-color: #E3E8EE;
    color: #F2362F;
    padding: calc(0.5rem + 1vw) 4rem calc(0.45rem + 1vw) 2rem;
    -webkit-clip-path: polygon(0px 0px, 93% 0px, 100% 100%, 0% 100%);
            clip-path: polygon(0px 0px, 93% 0px, 100% 100%, 0% 100%);
    width: auto;
    font-size: calc(0.5em + 1vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    position: relative;
  }
  #nav .bg-menu .sub-menu .li-wrapper:hover {
    background-color: white;
    color: #013974;
  }
  #nav .bg-menu .sub-menu .li-wrapper:hover svg {
    fill: #013974;
  }
  #nav .bg-menu .sub-menu li:first-of-type {
    z-index: 99;
  }
  #nav .bg-menu .sub-menu li:not(:first-of-type) {
    position: relative;
    left: calc(-1.5em - 1vw);
    z-index: 98;
  }
  #nav .bg-menu .sub-menu li:not(:first-of-type) .li-wrapper {
    padding-left: calc(2rem + 1vw);
  }
  #nav .bg-menu .sub-menu li:nth-child(3) {
    z-index: 97;
    left: calc(-3.25em - 1vw);
  }
  #nav .bg-menu .sub-menu li:nth-child(4) {
    z-index: 96;
    left: calc(-5.5em - 1vw);
  }
  #nav .bg-menu .sub-menu .active {
    z-index: 999 !important;
    position: relative;
  }
  #nav .bg-menu .sub-menu .active .li-wrapper {
    background-color: #013974;
    color: #E3E8EE;
  }
  #nav .bg-menu .sub-menu .active .li-wrapper svg {
    fill: #E3E8EE;
  }
  #nav .bg-menu .side-menu {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    color: #E3E8EE;
    background-color: #F2362F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: calc(0.45rem + 1vw) 2.55rem;
  }
  #nav .bg-menu .side-menu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem;
  }
  #nav .bg-menu .side-menu svg {
    height: 0.7rem;
    fill: #E3E8EE;
    width: auto;
    margin: 0.25rem;
  }
  .menu-tab,
  .team-wrapper {
    padding: 1rem 2.55rem 0;
  }
  .menu-tab {
    padding-top: 1.25rem;
  }
  .main-wrapper,
  .players-wrapper {
    padding: calc(0.45rem + 1vw) 2.55rem;
  }
  .main-wrapper,
  .players-wrapper {
    background-color: #E3E8EE;
  }
  .menu-tab {
    -ms-grid-row: 2;
    grid-row: 2;
    background-color: #013974;
    color: #E3E8EE;
    font-size: 1.25rem;
  }
  .menu-tab h4 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #013974;
    padding: .5rem 2rem;
    color: #E3E8EE;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  .menu-tab h4 a {
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  .menu-tab h4:hover {
    background-color: #E3E8EE;
    color: #F2362F !important;
  }
  .menu-tab h4.active {
    background-color: #E3E8EE;
    color: #F2362F;
  }
  .main-wrapper {
    background-color: #E3E8EE;
  }
  .team-wrapper {
    place-content: center;
  }
  .dashboard {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    -ms-grid-columns: auto fit-content;
        grid-template-columns: auto -webkit-fit-content;
        grid-template-columns: auto fit-content;
    grid-gap: 1rem;
  }
  .dashboard .dashboard-content {
    display: -ms-grid;
    display: grid;
    text-align: center;
    grid-auto-flow: row;
    -ms-flex-line-pack: start;
        align-content: start;
  }
  .dataTables_wrapper {
    font-size: medium;
  }
}

@media screen and (min-width: 1120px) {
  .side-menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2 !important;
    grid-row: 2 !important;
  }
}

/* show player edit icon */
.editicon {
  transition: .25s
}
.editicon:hover {
  transform:scale(1.5,1.5) ;
}

/*# sourceMappingURL=main.css.map */